/* Variables de color */
:root {
    --primary: #008E5A;
    --light: #03af70;
    --dark: #005234;
}

/* Tableros */
iframe {
    width: 100%;
    margin: 30px auto;
    border: none;
    border-radius: 10px;
}

iframe#tablaKardex {
    height: 295vh;
}

iframe#kpiKardex {
    height: 90vh;
}

iframe#mtoPreventivo {
    height: 200vh;
}

iframe#tickets {
    height: 200vh;
}